<!DOCTYPE html>
<html>
<head>
    <title>ae chí cốt</title>
</head>
<body>
    <h1>CHÀO THẰNG BẠN CHÍ CỐT CỦA TUI</h1> <color:pink></color:pink>
    <p>đây là bộ mặt thật của tao.</p>
     <h2>nhập tên của bạn </h2>
     <!--FORM BƯỚC 1 NHẬP TÊN-->
     {% if not ten %}<!-- nếu không có biến ten thì hiển thị --> 
     <p>hãy nhập tên để mình biết cái mặt chó của bạn</p>
<form method="post"><!--gửi dữ liệu ngầm về flask chạy ẩn trong nền-->
        <input type="text" name="ten" placeholder="Nhập tên của bạn">
        <button type="submit">Gửi</button> <!-- gửi dữ liệu từ form về flask -->
</form>
  {% endif %}<!-- nếu có biến ten thì không hiển thị -->
  <!--FORM BƯỚC 2 GỬI LỜI NHẮN CHỈ HIỆN SAU KHI NHẬP TÊN-->
      {% if ten %}<!-- nếu có biến ten thì hiển thị -->
         <h3 >chào {{ ten }}!</h3>        
         <h4>mày là một thằng chó</h4>
         <form method="post"></form>
         <input type ="hidden" name="ten" value="{{ ten }}"> <!-- giữ lại tên đã nhập để gửi đi -->
         <p>JACK NÈ CON</p>
         <label>email:</label><br>
         <input type="email" name="email" required><br><br>
            <label>HÃY THỞ RA NHỮNG CÂU TỪ YÊU THƯƠNG NHO:</label><br>
            <textarea name="message" rows="4" cols="30" placeholder="nhập ở đây nò"></textarea><br><br>
            <button type="submit">Gửi</button> <!-- gửi dữ liệu từ form về flask -->
</form>

    {% if email and message %}
<h5>✅tin nhắn đã gửi</h5>   
<p><strong>Email:</strong> {{ email }}</p>
        <p><strong>Tin nhắn:</strong> {{ message }}</p>
    {% endif %}
</body>
</html>
