<!DOCTYPE html>
<html>
<head>
    <title>ae chí cốt</title>
</head>
<body>
    <h1>CHÀO THẰNG BẠN CHÍ CỐT CỦA TUI</h1> 
    <p>đây là bộ mặt thật của tao.</p>
     <h2>nhập tên của bạn </h2>
<form method="post"><!--gửi dữ liệu ngầm về flask chạy ẩn trong nền-->
        <input type="text" name="ten" placeholder="Nhập tên của bạn">
        <button type="submit">Gửi</button> <!-- gửi dữ liệu từ form về flask -->
</form>
    {% if ten %}<!-- nếu có biến ten thì hiển thị -->
         <h3 >chào {{ ten }}!</h3>        
         <h4>mày là một thằng chó</h4>
    {% endif %}<!-- nếu không có biến ten thì không hiển thị -->
<hr> 
<h5>địa chỉ nhà mình</h5>
<form  method="post">
    <input type email name="email" placeholder="nhập email của bạn", required>
    <textarea name="message" placeholder="hãy gửi cho mình những lời yêu thương của bạn"></textarea>
    <button type="submit">Gửi</button>